<header>

  <div class="header-banner">

    <h1>CrewLink:Decision Support System</h1>

    <div class="row">
      <div class="col-lg-6 col-md-offset-10">
        <br>

        <div style="color:white;cursor:pointer">
          <div style="float:left">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" style="color:white">
                <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> User Profile</a></li>
                <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Setting </a></li>
                <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i> Upload </a></li>
                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a></li>
              </ul>
            </div>
          </div>

          <div style="float:left">

            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> User Profile</a></li>
                <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Setting </a></li>
                <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i> Upload </a></li>
                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a></li>
              </ul>

            </div>


          </div>


          <div style="float:left">

            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> User Profile</a></li>
                <li><a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Setting </a></li>
                <li><a href="#"><i class="fa fa-upload" aria-hidden="true"></i> Upload </a></li>
                <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout </a></li>
              </ul>

            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
  <div class="red_divider"></div>


</header>