<div>
    <br>
    <br>


    <ul class="breadcrumb">
        <li class="fa fa-bell"><a href="#">Home</a></li>
        <li class="active">DashBoard</li>
        <li class="active">Uploads</li>
    </ul>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
            <div class="panel-heading">Upload Files </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label for="usr">Uploader Name:</label>
                        <input class="w3-input" type="text" name="userName" ng-model="uploaderName" size="31" required>
                    </div>
                    <fieldset>

                        <div class="form-group">
                            <legend>Upload</legend>
                            <!--   <input type="file" ng-show="true" class="button" ngf-select ng-model="file" name="file" ngf-max-size="15MB" required></input> !-->
                            <input type="file" ng-show="true" class="button" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
                                ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}" required></input>

                        </div>
                    </fieldset>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="{{progressPercentage}}"
                            aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
                            {{progressPercentage}} % Complete
                        </div>
                    </div>

                   


                    <!--<input type="file" class="button" ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB"
                    ngf-min-height="100" ngf-resize="{width: 100, height: 100}">Select</div> !-->

                    <button type="button" class="w3-btn w3-ripple w3-red" ng-click="saveUpload()"> <i class="fa fa-upload" aria-hidden="true"></i> Upload</button>
                    

                </div>


            </div>
        </div>


        <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </div>
</div>


</div>