body{
  background:white;
  margin: 0;
  padding: 0;
  color:black;
  font-family: helvetica, arial;
}

.ng-enter {
  height: 0;
  width: 0;
  background-color: transparent;
  top:-200px;
  left: 200px;
}

.user_active
{
  width: 20px;
	height: 20px;
	background: green;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

}
.user_deactive{
  width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}