<div>
    <br>

    <ul class="breadcrumb">
        <li class="fa fa-bell"><a href="#">Home</a></li>
        <li class="active">User</li>
    </ul>

    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#tab-one" data-toggle="tab">List Users</a></li>
        <li><a data-target="#tab-two" data-toggle="tab">Create User</a></li>


    </ul>

    <div class="tab-content">
        <div id="tab-one" class="tab-pane active">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">User List

                    <div class="input-group pull-right">
                        <div class="form-group">
                            <label class="col-lg-8 control-label">Item Per Page(1-100)</label>
                            <div class="col-lg-4">
                                <input name="limit" class="input-sm form-control pull-right ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"
                                    min="1" max="100" value="5" step="1" type="number" ng-model-options="{ debounce: 1000 }"
                                    ng-model="query.limit">
                            </div>
                        </div>
                    </div>


                </div>
                <div class="panel-body">
                    <table class="table table-hover table-condensed table-responsive">
                        <thead>
                            <tr>
                                <th>SlNo</th>
                                <th>UserName</th>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>password</th>
                                <th>email</th>
                                <th>roleCode</th>
                                <th>userActive</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="t in trainsList">
                                <td>{{$index+1}}</td>
                                <td>{{t.userName}}</td>
                                <td>{{t.firstName}}</td>
                                <td>{{t.lastName}}</td>
                                <td>{{t.password}}</td>
                                <td>{{t.email}}</td>
                                <td>{{t.roleCode}}</td>
                                <!--<td ng-class="t.userActive? 'user_active' : 'user_deactive'">{{(t.userActive)?'yes':'No'}}</td> !-->
                                <td>
                                    <div ng-class="(t.userActive ? 'user_active' : 'user_deactive')"></div> {{(t.userActive)?'yes':'No'}} </td>

                                <td>
                                    <button class="light_red_btn_sm">
                                         <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                                    <button class="light_blue_btn_sm">
                                         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                    <button class="light_green_btn_sm">
                                         <i class="fa fa-info-circle" aria-hidden="true"></i>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div id="tab-two" class="tab-pane">
            <h2>Tab 2</h2>
        </div>

    </div>


</div>