<div>
    <br>
    <br>

    <ul class="breadcrumb">
        <li class="fa fa-bell"><a href="#">Home</a></li>
        <li class="active">Trains</li>
    </ul>


    <div class="panel panel-default">
        <div class="panel-heading">Train List

            <div class="input-group pull-right">
                <div class="form-group">
                    <label class="col-lg-8 control-label">Item Per Page(1-100)</label>
                    <div class="col-lg-4">
                        <input name="limit" class="input-sm form-control pull-right ng-pristine ng-valid ng-valid-number ng-valid-max ng-valid-min"
                            min="1" max="100" value="5" step="1" type="number" ng-model-options="{ debounce: 1000 }" ng-model="query.limit">
                    </div>
                </div>
            </div>


        </div>
        <div class="panel-body">
            <table class="table table-hover table-condensed table-responsive">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>S.No.</th>
                        <th>Train No</th>
                        <th>Train Name</th>
                        <th>No of Days</th>
                        <th>Originating days</th>
                        <th>Train Type </th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Has Driving Section</th>
                        <th>Is User Selected</th>
                        <th style="width:150px">Action</th>


                    </tr>

                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th><input type="text" st-ratio="100" class="form-control input-sm" st-search="trainNo" placeholder="Train No"
                                st-delay="1000" /></th>
                        <th><input type="text" st-ratio="100" class="form-control input-sm" st-search="name" placeholder="Train Name"
                                st-delay="1000" /></th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th>

                            <select st-search="trainType" st-input-event="change" st-delay=0 ng-model="dummy" class="form-control input-sm">
                       					 <option value="">
                           					All
                       					 </option>
                        						<option ng-repeat="item in trainTypes" value="{{ item.name }}">
                           						 {{ item.name }}
                        						</option>
                                  </select>


                        </th>
                        <th><input type="text" st-ratio="100" class="form-control input-sm" st-search="fromStation" placeholder="From Station"
                                st-delay="1000" />
                            <input type="text" st-ratio="100" class="form-control input-sm" st-search="passingStation1" placeholder="Passing Station 1"
                                st-delay="1000" /></th>
                        <th><input type="text" st-ratio="100" class="form-control input-sm" st-search="toStation" placeholder="To Station"
                                st-delay="1000" />
                            <input type="text" st-ratio="100" class="form-control input-sm" st-search="passingStation2" placeholder="Passing Station 2"
                                st-delay="1000" /></th>
                        <th><select st-search="hasDrivingSection" class="form-control input-sm" st-ratio="100">
                       					 <option value="">
                           					All
                       					 </option>
                       					 <option value="false" selected>
                           					No Driving Section
                       					 </option>
                       					 <option value="true">
                           					With Driving Section
                       					 </option>
                                  </select></th>
                        <th><select st-search="isUserSelected" class="form-control input-sm" st-ratio="100" ng-model="selectedValue">
                       					 <option value="" selected>
                           					All
                       					 </option>
                       					 <option value="false">
                           					Not Selected By User
                       					 </option>
                       					 <option value="true">
                           					Selected By User
                       					 </option>
                                  </select>

                            <div ng-show="selectedValue=='true'">
                                <button id="toggle" class="btn btn-primary btn-xs" ng-click="updateDeselectAll()">
      									Deselect All
    							  </button>
                            </div>
                            <div ng-show="selectedValue=='false'">
                                <button id="toggle" class="btn btn-primary btn-xs" ng-click="updateSelectAll()">
      									Select All
    							  </button>
                            </div>


                        </th>
                        <th>&nbsp;</th>

                    </tr>


                </thead>
                <tbody>
                    <tr ng-repeat="train in trainsList">
                        <td>
                            <a ui-sref="dashboard.trainTimeTable({trainNo:train.trainNo,startDay:Days[0]})" class="btn btn-success btn-xs fa fa-info-circle"
                                title="View"></a>
                        </td>
                        <td>{{$index+1}}</td>
                        <td>{{train.trainNo}}</td>
                        <td>{{train.trainName | limitTo : 20}}</td>
                        <td>{{train.runningDays.length}}</td>
                        <td><span ng-repeat="day in train.runningDays">{{Days[day] | limitTo : 3}} </span></td>
                        <td>{{train.trainType}}</td>
                        <td>{{train.fromStation}}</td>
                        <td>{{train.toStation}}</td>
                        <td></td>
                        <td></td>

                        <td>
                            <button class="light_red_btn_sm">
                                         <i class="fa fa-trash" aria-hidden="true"></i>
                                    </button>
                            <button class="light_blue_btn_sm">
                                         <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>